.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-login-input {
  height: 80px;
}

.alert {
  flex-grow: 2;
}

.toggle-button {
  flex-grow: 2;
}

.toggle-button button{
  padding: 6.5px;
}

.mandalart-cell {
  width: 85px !important;
  height: 85px !important;
  margin: 0px !important;
  margin-right: -1px !important;
  border:1px dotted #cecece !important;
}

.MuiBox-root:has(.mandalart-cell-ponter) {
  cursor: pointer;
}

.mandalart-cell-left {
  border-left:1px solid #000000 !important;
}

.mandalart-cell-top {
  border-top:1px solid #000000 !important;
}

.mandalart-cell-right {
  border-right:1px solid #000000 !important;
}

.mandalart-cell-bottom {
  border-bottom:1px solid #000000 !important;
}

.mandalart-cell textarea {
  font-size: 0.7rem;
}

.mandalart-cell div {
  border-radius: 0px !important;
  height: 85px !important;
  
}

.center-cell {
  background-color: #f1f5f9;
}

.achievement-cell-level-1 {
  background-color: #C6E0B4;
  color: #C6E0B4;
}

.achievement-cell-level-2 {
  background-color: #FFE699;
  color: #FFE699;
}

.achievement-cell-level-3 {
  background-color: #f4ba94;
  color: #f4ba94;
}

.explanatory-note-grid {
  padding: 7px;
  font-size: 0.7rem;
  display: 'flex';
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}